<!DOCTYPE html>
<html>
<head>
    <title>Olympics API usage</title>
</head>
<body>
    <pre>
    This is a basic help statement for olympics-api
    
    <b>Options:</b>
    
    /: gives a welcome page
    
    /help: gives this usage statement
    
    /games: prints a list of olympic games sorted by year
    
    /nocs: prints a list of noc's and their names, sorted alphabetically by noc
    
    /medalists/games/{games_id}?[noc=noc_abbreviation]: gives a list of medal winners at a certain games. 
    If the optional noc argument is added, only medal winners of that noc will be displayed. 
    All valid games_id's in this database are integers 0 to 50. All valid noc_abbreviation's are three letter strings
    </pre>
</body>
</html>

